*{
  margin: 0;
  padding: 0;
}
/*Основная часть*/
header {
  width: 100%;
  height: 51.3vw;
  background-image: url(Фотки-page2/header-dark.jpg);
  background-size: cover;
 
}

  body {
    max-width: 100%;
  }

  html {
  background-color: #0C224A;
}
main {
  max-width: 100%;
}
footer {
  width: 100%;
}
/*header*/
.img-header {
  width: 100%;
  
}
.text-header {
  position: relative;
    width: 50vw;
    top: 20%;
    right: -5%;
    font-size: 14vw;
  color: #8C3522;

}
/*main*/

/*Первый слайдер*/
.text-zag {
  font-size: 11vw;
  color: #8C3522;
  text-align: center;
  
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
max-width: 55%;
position: relative;
margin: auto;
}

/* Hide the images by default */
.mySlides1, .mySlides2, .mySlides3 {
  display: none;
}
.mySlides2 {
  height: 40vw;
}

/* Next & previous buttons */
.prev1, .next1 {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -5%;
padding: 1.5%;
color: #8C3522;
font-weight: bold;
font-size: 150%;
transition: 0.6s ease;
border-radius: 0 3% 3% 0;
}

/* Position the "next button" to the right */
.next1 {
right: 33%;
border-radius: 3px 0 0 3px;
}
.prev1 {
  left: -17%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev1:hover, .next1:hover {
background-color: rgba(255, 255, 255, 0.8);
}

/* The dots/bullets/indicators */
.dot1 {
cursor: pointer;
height: 0.8vw;
  width: 0.8vw;
  margin: 0 0.1%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  left: 1%;
  top: -2.5vw;
}

.active, .dot1:hover {
background-color: #717171;
}

/*картинки для первого слайдера*/
.img1 {
  border: 1.5vw solid #8C3522;
  border-top: 1.1vw solid #8C3522;
  border-bottom: 2vw solid #8C3522;
  position: relative;
  right: 20%;
  top: 10%;
  width: 90%;
  height: 30vw;
  margin-top: 2vw;
  margin: 0 auto;
;}

/*картинки для второго слайдера*/
.img2 {
  border: 1.4vw solid #8C3522;
  border-top: 2.1vw solid #8C3522;
  width: 90%;
  height: auto;
  position: relative;
  left: -35%;
}
/*картинки для третьего слайдера*/
.img3 {
  width: 110%;
  border: 1.4vw solid #8C3522;
  border-right: 2vw solid #8C3522;
  border-left: 2vw solid #8C3522;
  position: relative;
  right: 35%;
  top: 2vw;
}

/*Тект для второго слайдера*/
.text2 {
  color: white;
  width: 27vw;
  font-size: 2vw;
  text-align: left;
  position: relative;
  left: 40%;
  top: -30vw;
  margin:20px auto;
  padding:10px;
  word-break:break-all;
}


/*Третий слайдер*/

/* Next & previous buttons */
.prev3, .next3 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 2%;
  padding: 1%;
  color: #8C3522;
  font-weight: bold;
  font-size: 150%;
  transition: 0.6s ease;
  border-radius: 0 3% 3% 0;
}

/* Position the "next button" to the right */
.next3 {
  right: 29%;
  border-radius: 3% 0 0 3%;
}
.prev3 {
    left: -31%;
    border-radius: 3% 0 0 3%;
}

/* On hover, add a black background color with a little bit see-through */
.prev3:hover, .next3:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* The dots/bullets/indicators */
.dot3 {
  cursor: pointer;
  height: 0.8vw;
  width: 0.8%;
  margin: 0 0.1%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  left: -15%;
  top: -0.3vw;
}

.active, .dot3:hover {
  background-color: #717171;
}

/*подвал*/
.logo {
  width: 19.2vw;
  margin-left: 2.08vw;
}

.pod {
  color: #FBEFEF;
  font-size: 1.3vw;
  text-align: center;
  width: 100%;
  white-space: pre-wrap;
  position: relative;

}

.contair-one {
  display: flex;
  position: relative;
  bottom: -15vw;
}

/*Навигация*/

.navigation-container {
  position: fixed;
  top: 0;
  left: 0;
  margin: 1%;
  }
  #toggleButton{
  background-color: #8C3522;
  padding: 10%;
  border: 0;
  font-size: 1.2vw;
  color: #FBEFEF;
  }
  
  .menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 1;
  padding: 1%;
  background-color: #8C3522;
  width: 5.4vw;
  }
  
  .menu ul {
  list-style-type: none;
  padding: 0;
  }
  
  .menu li {
  padding: 10%;
  font-size: 1.1vw;
  text-align: center;
  }
  
  .menu a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  }
  
  .menu a:hover {
  background-color: rgb(240, 56, 56);
  }
  
  /*Конец навигации*/
  

.button-theme {
  position: fixed;
  top: 1%;
  right: 1%;
  padding: 1%;
  background-color: #8C3522;
  border: 0;
  font-size: 1vw;
  color: #FBEFEF;
}

.adaptivn {
width: 100%;
height: auto;
}

.text-3{
  color: white;
  width: 27vw;
  font-size: 2vw;
  text-align: left;
  position: absolute;
  top: 3vw;
  right: -21vw;
  width: 31vw;
  margin: 1vw auto;
  padding: 0.12vw;
  word-break:break-all;
}

.TXT1 {
  position: absolute;
  top: 0.8vw;
  width: 31vw;
  right: -18vw;
  font-size: 2vw;
  margin: 1vw auto;
  padding: 0.12vw;
  text-align: left;
  color: white;
}